html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/*CUSTOM CSS*/

/*skills section*/

.skill-logo {
    width: 60px;
    height: 60px;
    transition: transform 0.2s ease-in-out;
}

.skill-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    border-radius: 12px;
}

    .skill-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); /* golden glow */
    }

.skill-text {
    font-weight: 500;
    margin-top: 0.75rem;
}

/*experience section*/

/* Rectangle container */
.rect-box {
    min-height: 25vh;
    max-height: 75vh;
    transition: all 0.3s ease-in-out;
/*    border: 1px solid rgba(255,255,255,0.2);*/
}

/* Hover effect */
.experience-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    border-color: transparent;
}

/* Company logo */
.company-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

/* Console box */
.console-box {
    font-family: "Courier New", monospace;
    font-size: 0.95rem;
    line-height: 1.6;
/*    border-left: 2px solid #fff;  white border now */
}

/* Blinking cursor */
.cursor {
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #fff; /* white cursor */
    margin-left: 4px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }

    50.01%, 100% {
        opacity: 0;
    }
}


